/* #header {
    display: flex;
    justify-content: space-between;
} */

#product-content {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 20px;
}

#product-detail {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
}

#product-detail img {
    width: 80%;
}

#product-detail p {
    width: 90%;
    margin-top: 10px;
    text-align: justify;
}

#product-request {
    width: 35%;
    display: flex;
    padding-left: 10px;
    flex-direction: column;
}

#per-product {
    font-size: small;
}

p,
h1 {
    font-size: 20px;
    font-weight: bold;
}
#image{
    border-radius: 25px;
}